{% extends "base.html" %}

{% block conteudo %}

<div class="container-fluid mt-7">
    <div class="d-sm-flex align-items-center justify-content-end mb-3" style="margin-top: 80px;">
        <a href="{% url 'empresa_create' %}" class="btn btn-primary btn-icon-split btn-sm mt-3">
            <span class="text">Adicionar Seller</span>
            <span class="icon text-white-50">
                <i class="fas fa-user-plus"></i>
            </span>
        </a>

        <a href="{% url 'index' %}" class="btn btn-secondary btn-sm mt-3" style="margin-left: 20px;">
            <span class="text">Voltar para home</span>
        </a>
    </div>



    <div class="card-body">
        <h4 class="mb-3 text-primary">
            Sellers Cadastrados
        </h4>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="card shadow mb-4" >       
        <div class="table-responsive" style="border-radius: 20px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="bg-primary text-white">Nome Seller</th>
                        <th class="bg-primary text-white">Segmento</th>
                        <th class="bg-primary text-white">E-mail</th>
                        <th class="bg-primary text-white">Telefone</th>
                        <th class="bg-primary text-white">Responsável</th>
                        <th class="bg-primary text-white">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empresa in todas_empresas %}
                        <tr>
                            <td><a href="{% url 'detalhes_empresas' empresa.id %}" style="font-weight: bolder;">{{ empresa.empresa }}</a></td>
                            <td>{{ empresa.segmento }}</td>
                            <td>{{ empresa.email }}</td>
                            <td>{{ empresa.telefone }}</td>
                            <td>{{ empresa.responsavel }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Ações
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'empresa_update' empresa.id %}">Editar</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'detalhes_empresas' empresa.id %}">Detalhes</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-danger" href="{% url 'empresa_delete' empresa.id %}">Excluir</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock conteudo %}
